.button {
  border-radius: var(--border-radius);
  padding: var(--spacing-10) var(--spacing-20);
  display: flex;
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.text {
  font-weight: 700;
  color: var(--color-button-text);
}

.primary {
  background: var(--color-primary);
  .text {
    color: #fff;
  }
}
