.container {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--color-background-base);
  position: fixed;
  z-index: 1;
}

.dark {
  --color-background-base: #1b1d20;
  --color-background-alt: #{lighten(#1b1d20, 10%)};
}
